header {
    height: 80px;
    background-color: #05131E;
    margin-bottom: 50px;
}

body {
    background-color: #1D2D3C;
}

.col {
    background-color: #10202F;
    border-radius: 10px;
    cursor: pointer;
}